<link rel="stylesheet" href="../public/stylesheets/layout.css">




<div class="layout">
  <%-include('./lib/sideBar.ejs') %>


  <div class="body">
    
    
    
  </div>

  <!-- <%-include('./lib/footer.ejs') %> -->
</div>








        