<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

        <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
        <link rel="stylesheet" href="../../public/stylesheets/header.css" />
    </head>
    <body>
        <div class="header">
            <div class="title_wrap">
                <h1 class="title">만두's 블로그</h1>
            </div>
    
            <div>
                <ul class="menu_bar">
                    <li class="main_menu"><a href="">프로젝트</a></li>
                    <li class="main_menu"><a href="">언어 & 알고리즘</a></li>
                    <li class="main_menu"><a href="">웹 & 앱</a></li>
                    <li class="main_menu"><a href="">AI</a></li>
                    <li class="main_menu"><a href="">운영체제</a></li>
                    <li class="main_menu"><a href="">도구</a></li>
                    <li class="main_menu"><a href="">한줄 일기</a></li>
                </ul>
            </div>
        </div>