<head>
    <link rel="stylesheet" href="../../public/stylesheets/sideBar.css">
</head>

<div class="sideBar">
    <div class="profile">
        <img src="../../public/images/basic/profile.png">
        <p><span id="nickname">만두</span> 's Blog</p>
    </div>
    
    <div>
        <hr>
    
        <ul class="menu_list">
            <li class="menu"><a href="/board">전체 <span class="board_count">(0)</span></a></li>
            <li class="menu"><a href="/board?category=1">프로젝트 <span class="board_count">(0)</span></a></li>
            <li class="menu"><a href="/board?category=2">언어 & 알고리즘 <span class="board_count">(0)</span></a></li>
            <li class="menu"><a href="/board?category=3">웹 & 앱 <span class="board_count">(0)</span></a></li>
            <li class="menu"><a href="/board?category=4">AI <span class="board_count">(0)</span></a></li>
            <li class="menu"><a href="/board?category=5">운영체제 <span class="board_count">(0)</span></a></li>
            <li class="menu"><a href="/board?category=6">도구 <span class="board_count">(0)</span></a></li>
            <li class="menu"><a href="">한줄 일기 <span class="board_count">(0)</span></a></li>
        </ul>
    </div>
    
    
</div>